@import url('./static/styles/ansi.css');
@import url('https://fonts.googleapis.com/css2?family=Fira+Sans&family=Share+Tech+Mono&family=Ubuntu&display=swap');

:root
{
	--background : {{background}};
	--foreground : {{foreground}};

	--font-regular : 'Ubuntu', sans-serif;
	--font-title : 'Fira Sans', sans-serif;
	--font-mono : 'Share Tech Mono';
	--font-board : 'Share Tech Mono';
}

body
{
	background : var(--background);
	color : var(--foreground);
	font-family : var(--font-regular);
}

acenter
{
	display : flex;
	align-items : center;
	flex-direction : column;
	position : absolute;
	top : 50%;
	left : 50%;
	transform : translate(-50%, -50%);
}

form
{
	display : flex;
	align-items : center;
	flex-direction : column;
}

form>input[i]
{
	border : none;
	border-bottom : 1px solid var(--foreground);
	color : var(--foreground);
	font-family : var(--font-regular);
	background-color : transparent;
	transition : border-bottom 0.2s;
	padding : 5px;
	margin : 5px;
}

form>input[i]:focus
{
	outline : none;
	border-bottom : 1px solid #aaf;
}

form>input[type="submit"]
{
	border : none;
	cursor : hand;
	color : var(--background);
	font-family : var(--font-regular);
	background-color : var(--foreground);
	transition : border-bottom 0.2s;
	padding : 5px;
	padding-inline : 10px;
	margin : 5px;
}

*[u]
{
	font-size : 3em;
	font-family : var(--font-title);
	text-shadow : 0px 0px 10px #000;
}

*[b]
{
	font-size : 1.3em;
}

*[team]
{
	display : flex;
	align-items : center;
	flex-direction : column;
	width : 500px;
}

*[row]
{
	display : flex;
	flex-direction : row;
}